<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/login}" th:object="${userInfo}">
    <label for="username">Введите имя пользователя: </label>
    <input id="username" type="text" th:field="*{username}" placeholder="username"/>
    <br>
    <label for="password">Введите пароль: </label>
    <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
    <br>
    <input type="submit" value="Войти"/>
</form>
<form th:method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>