<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${basicUser}">
    <label for="username">Имя пользователя: </label>
    <input id="username" type="text" th:field="*{username}" placeholder="Username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" th:field="*{email}" placeholder="example@mail.ru"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br>
    <label for="password">Пароль: </label>
    <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br>
    <label for="role">Role: </label>
    <select id="role"  th:field="*{userRole}">
        <option value="ROLE_LISTENER">Listener</option>
        <option value="ROLE_ARTIST">Artist</option>
    </select>
    <br>
    <input type="submit" value="Зарегистрироваться"/>
</form>
<form th:method="GET" th:action="@{/login}">
    <input type="submit" value="Войти">
</form>
</body>
</html>