<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorise page</title>
</head>
<body>
<form th:method="POST" th:action="@{authorise}" th:object="${user}">
    <label for="email">Email: </label>
    <input id="email" type="text" th:field="*{email}" placeholder="example@mail.ru"/>
    <br>
    <label for="password">Пароль: </label>
    <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
    <br>
    <input type="submit" value="Войти"/>
</form>
<form th:method="GET" th:action="@{register}">
    <input type="submit" value="Регистрация">
</form>
</body>
</html>